.custom-color{
    color: #FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited{
    color:#35424A;
    background-color: #FAFAFA;
    border-color: #35424A;
}
.btn-primary:focus{
    color:#FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
div.body-content{
    position: relative;
    z-index: 2;
}
div.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 24%;
    background-image: url("../../../../../images/background/homepage_007.jpg");
    display: block;
    width: 100%;
    height: 75%;
    background-position-y: 70%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: grayscale(80%) blur(5px) opacity(60%);
}

@media (max-width: 515px) {
    div.background-image {
        position: absolute;
        left: -3%;
        right: 0;
        z-index: 1;
        top: 0%;
        background-image: url("../../../../../images/background/homepage_007.jpg");
        display: block;
        width: 103%;
        height: 100%;
        background-position-y: 70%;
      
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: grayscale(80%) blur(5px) opacity(60%);
    }
}