div.banner{
    position: absolute;
    font-size: 35px;
    float: left;
    margin-top: 0.7%;
    margin-left: 2%;
    color: #f4f4f4;
}
div.componentSelection{
    position: absolute;
    margin-left: 2%;
    float: left;
}
div.singleComponent{
    width: relative;
    text-align: center;
    float: left;
    margin-top: 5.6%;
    font-size: 20px;
}
div.background{
    margin: 0 auto;
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 16%;
    background-color: #939393;
}
div.mainPos {
    position: absolute;
    top: 26%;
    background-color: lightgoldenrodyellow;
    width: 40%
}
div.selectors{
    margin-top: 20%
}
div.componentss{
    position: absolute;
    top: 26%;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 74%;
}
p.text{
    font-size: 20px;
}
.custom-color{
  color: #FAFAFA;
  background-color: #35424A;
  border-color: #35424A;
}
.login-align{
    float: right;
    margin: 1rem;
}
.btn-primary:active,.btn-primary:hover,.btn-primary:focus,.btn-primary:visited{
    color:#35424A;
    background-color: #FAFAFA;
    border-color: #35424A;
}
