p.banner{
    position: absolute;
    font-size: 35px;
    float: left;
    margin-top: 0.7%;
    margin-left: 2%;
    color: #f4f4f4;
}
.componentSelection{
    position: absolute;
    margin-left: 2%;
    float: left;
    bottom: 8px;
    justify-content: center
}
div.background{
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 16%;
    background-color: #939393;
}
div.body-container{
    position: absolute;
    top: 26%;
    margin-left: 3%;
    width: 97%;
}
p.text{
    font-size: 20px;
}
.custom-color{
  color: #FAFAFA;
  background-color: #35424A;
  border-color: #35424A;
  height:40px;
}
.settings{
    width: 30px;
    height: 30px;
}
.login-group{
    float: right;
    margin-top: 1rem;
}
.login-align{
    float: right;
}
.btn-primary:active,.btn-primary:hover,.btn-primary:focus,.btn-primary:visited{
    color:#35424A;
    background-color: #FAFAFA;
    border-color: #35424A;
}
.image-htl{
    position: absolute;
    top: 10%;
    left: 44%;
}
@media only screen and (max-width: 1200px){
    .componentSelection{
        position: absolute;
        margin-left: 2%;
        float: left;
        bottom: 8px;
        justify-content: center
    }
    .custom-color{
        color: #FAFAFA;
        background-color: #35424A;
        border-color: #35424A;
        height:30px;
    }
    p.text{
        font-size: 15px;
    }
}
@media only screen and(min-width: 800px){
    .componentSelection{
        position: absolute;
        margin-left: 2%;
        float: left;
        bottom: 18px;
        justify-content: center
    }
}