div.datePickPositionOne{
    float: left;
}
div.datePickPositionTwoThree{
    float: left;
    margin-left: 4%;
}
.custom-color{
    color: #FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
    font-size:14px
}
.custom-size{
    color: #FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited{
    color:#35424A;
    background-color: #FAFAFA;
    border-color: #35424A;
}
.btn-primary:focus{
    color:#FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.table-validate{
    font-size: 15px
}
.header-border{
    border: 4px solid #35424A; 
    width: 400px;
    border-collapse: separate;
    border-spacing: 400px;
    border-radius: 5%;
    text-align: center
}
span.error{
    color: red;
    font-size: 12px;
}
.hasDatepicker {
    position: relative;
    z-index: 99999999;
}
.popup-field{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    left: 0%;
    top:0;
    width:100%;
    z-index:10000;
}
.popup-field .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popup-field > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.custom-color{
    color: #FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
.custom-color-reverse{
    color: #35424A;
    background-color: #FAFAFA;
    border-color: #35424A;
}
.custom-color-reverse:hover{
    color:#FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}

.Zebra_DatePicker{ z-index: 9999999999 !important;}