div.datePickPositionOne{
    float: left;
    margin-left: 2%;
}
div.datePickPositionTwo{
    float: left;
    margin-left: 10%;
    /*position: fixed;*/
}
div.datePickPositionThree{
    float: left;
    margin-left: 10%;
    /*position: fixed;*/
}
.custom-color{
    color: #FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited{
    color:#35424A;
    background-color: #FAFAFA;
    border-color: #35424A;
}
.btn-primary:focus{
    color:#FAFAFA;
    background-color: #35424A;
    border-color: #35424A;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}