div.datePickPositionOne{
    float: left;
    margin-left: 2%;
}
div.datePickPositionTwo{
    float: left;
    margin-left: 20%;
    position: fixed;
}
div.datePickPositionThree{
    float: left;
    margin-left: 38%;
    position: fixed;
}