div.banner{
    position: fixed;
    /*top: 8%;*/
    font-size: 25px;
    float: left;
    margin-top: 1%;
    color: white;
}
div.componentSelection{
    position: absolute;
    margin-left: 25%;
    float: left;
}
div.singleComponentTwo{
    width: relative;
    text-align: center;
    float: left;
    margin-top: 1.4%;
    font-size: 20px;
}
div.singleComponent{
    width: relative;
    border: 0.15px solid white;
    text-align: center;
    float: left;
    font-size: 20px;
}
div.background{
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: rgb(55, 164, 201); 
}
div.mainPos {
    position: absolute;
    top: 19%;
    background-color: lightgoldenrodyellow;
    width: 40%
}
div.selectors{
    margin-top: 20%
}